.container {
  display: flex;
  min-width: 500px;
}

#startBtn {
  margin-bottom: 25px;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(207, 152, 171);
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: rgb(70, 155, 126);
}

.miniGrid {
  margin-left: 25px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(207, 152, 171);
}

.miniGrid div {
  height: 20px;
  width: 20px;
}

.actions {
  margin-left: 25px;
  width: 100px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

#rotateBtn {
  width: 100px;
  height: 25px;
}

#leftBtn {
  width: 25px;
  height: 25px;
}

#rightBtn {
  width: 25px;
  height: 25px;

}

#downBtn {
  width: 50px;
  height: 25px;

}


